@page
@model CASPARWeb.Pages.Instructor.PreferenceListDetails.UpsertModel
@{
}
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-primary py-2">@(Model.objPreferenceListDetail.Id != 0 ? "Update " : "Add ") Preference List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <input type="hidden" asp-for="objPreferenceListDetail.Id">
            <input type="hidden" asp-for="objPreferenceListDetail.PreferenceListId">
            <div class="border p-3">
                <div class="form-floating py-2 col-12">
                    <label asp-for="objPreferenceListDetail.PreferenceRank" class=" ms-2"></label>
                    <input asp-for="objPreferenceListDetail.PreferenceRank" class="form-control border-0 shadow" />
                    <div class="mb-3 col-6">
                        <label asp-for="objPreferenceListDetail.CourseId"></label>
                        <select id="ddlCourse" asp-for="objPreferenceListDetail.CourseId" asp-items="@Model.CourseList" class="form-select">
                            <option disabled selected>--Select Course--</option>
                        </select>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">@(Model.objPreferenceListDetail.Id != 0 ? "Update " : "Add ")</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-page="./Index" asp-route-id="@Model.objPreferenceListDetail.PreferenceListId" class=" btn btn-outline-primary border form-control">
                            Back to Preference List Details
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>