@page
@model CASPARWeb.Pages.Instructor.PreferenceListDetails.IndexModel
@{
}
<div class="container">
    <div class="row pt=4">
        <!--Start Row-->
        <div class="col-6">
            <!--50% of row-->
            <h2 class="text-primary">
                Preference List Details for @(Model.objSemesterInstance.SemesterInstanceName)
            </h2>
        </div><!-- End 1st Column-->
        <div class="col-6 text-end">
            <!--50% row right justified-->
            <a asp-page="Upsert" asp-route-preferenceListId="@(Model.objPreferenceList.Id)" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Add List Item
            </a>
        </div> <!--End 2nd Column-->
    </div> <!--End Row-->
    <table class="table table-bordered table-striped" id="DT_PreferenceListDetails" style="width:100%">
        <thead>
            <tr>
                <th>
                    Preference Rank
                </th>
                <th>
                    Course
                </th>
                <th>&nbsp;</th>
            </tr>
        </thead>
    </table>
    <a asp-page="/Instructor/PreferenceLists/Index" class=" btn btn-outline-primary border form-control">Back to Preference Lists</a>
</div> <!--Close Container-->
@section Scripts
    {
    <script src="~/js/preferenceListDetails.js"></script>
}