@page
@model CASPARWeb.Pages.Administrator.Users.IndexModel
@{
}
<div class="container">
    <div class="row pt=4">
        <!--Start Row-->
        <div class="col-6">
            <!--50% of row-->
            <h2 class="text-primary">
                Users
            </h2>
        </div><!-- End 1st Column-->
        <div class="col-6 text-end">
            <!--50% row right justified-->
            <a asp-page="Upsert"  class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Add User
            </a>
        </div> <!--End 2nd Column-->
    </div> <!--End Row-->
    <table class="table table-bordered table-striped" id="DT_Users" style="width:100%">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
    </table>
</div> <!--Close Container-->
@section Scripts
{
    <script src="~/js/users.js"></script>
}