@page
@model CASPARWeb.Pages.Administrator.Campuses.CreateCampusModel
@{
}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="card shadow border-0 mt-4">
            <div class="card-header  ml-0 py-3">
                <h2 class="py-2">Create Campus</h2>
            </div>
            <div class="card-body p-4">
                <form method="post" class="row">
                    @*<div asp-validation-summary="ModelOnly"></div>*@
                    <div class="form-group mt-1">
                        <label for="inputSemesterName">Campus Name</label>
                        @if (Model.id == null) {
                            <input type="text" class="form-control" id="inputCampusName" asp-for="inputCampusName" placeholder="campus name">
                        } else {
                            <input type="text" class="form-control" id="inputCampusName" asp-for="inputCampusName" value="@Model.campus.CampusName">
                        }
                    </div>
                    <div class="row pt-2">
                        @if (Model.id == null) {
                            <div class="col-6 col-md-3">
                                <button type="submit" onclick="return ValidateInput()" class="btn btn-primary form-control">Create</button>
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-page="Index" class="btn btn-outline-primary border  form-control">
                                    Back to List
                                </a>
                            </div>
                        } else {
                            <div class="col-4 col-md-3">
                                <button type="submit" onclick="return ValidateInput()" id="submitButton" class="btn btn-primary form-control">Update</button>
                            </div>
                            <div class="col-4 col-md-3">
                                <a asp-page="Index" class="btn btn-outline-primary border  form-control">
                                    Back to List
                                </a>
                            </div>
                            <div class="col-1 col-md-3">
                            </div>
                            <div class="col-3 col-md-3">
                                <button type="submit" id="deleteButton" class="btn btn-outline-danger form-control">Delete</button>
                            </div>
                        }
                    </div>
                    <input type="hidden" id="pressedDelete" asp-for="inputPressedDelete" value="">
                </form>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>

<script>
    document.getElementById("deleteButton").addEventListener("click", function () {
        var variableInput = document.getElementById("pressedDelete");
        variableInput.value = "true"; // Set the desired variable value
    });
    function ValidateInput() {
        if (document.getElementById('inputCampusName').value == "") {
            swal.fire('Error', 'Please Enter a Campus Name', 'error');
            return false;
        }
        return true;
    }
</script>